<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
    	
      <h1>
        Name : <%= @employee.name %>
      </h1>
      <h1>
        Designation : <%= @employee.designation %>
      </h1>
      <h1>
        Age : <%= @employee.age %>
      </h1>
      <h1>
        Date of Joining : <%= @employee.date_of_joining %>
      </h1>
      <h1>
        Project : <%= @employee.project %>
      </h1>
      <h1>
        Team Lead : <%= @employee.team_lead %>
      </h1>

      <% @skill_array = @employee.skills.split(',') %>

      <h1>Skills <%= link_to"edit skills" , "/employee/edit/"+@employee.id.to_s %> </h1>
       
      <table>
        <tr>
          <th>S.No</th>
          <th>Skill</th>
        </tr>
       
      <% @skill_array.each_with_index do |skill, index| %>
        <tr>
          <td><%= index+1 %></td>     <!-- index+1 beacause index starts with 0  -->
          <td><%= skill %></td>
        </tr>
      <% end %>
      </table>
      
    </section>
  </aside>
</div>