<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "HR Management", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Emplolees list", employee_list_path %></li>
        <li><%= link_to "Add new employee", employee_new_path %></li>
        <li><%= link_to "Tech Leads", root_path %></li>
      </ul>
    </nav>
  </div>
</header>